<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PropertyListing</servlet-name>
        <servlet-class>smarthomes.servlets.PropertiesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagesServer</servlet-name>
        <servlet-class>smarthomes.servlets.ImagesServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagesUploader</servlet-name>
        <servlet-class>smarthomes.servlets.NewPropertyUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyDetails</servlet-name>
        <servlet-class>smarthomes.servlets.PropertyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>smarthomes.servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitBooking</servlet-name>
        <servlet-class>smarthomes.servlets.VisitBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingManager</servlet-name>
        <servlet-class>smarthomes.servlets.BookingManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropertyListing</servlet-name>
        <url-pattern>/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagesServer</servlet-name>
        <url-pattern>/imgsrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagesUploader</servlet-name>
        <url-pattern>/admin/img_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDetails</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitBooking</servlet-name>
        <url-pattern>/messenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingManager</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
